numpy==2.2.6
stable-ts-whisperless==2.19.1
stable-ts[hf]==2.19.1
huggingface_hub==1.9.0
fastapi==0.135.3
requests==2.33.1
faster-whisper==1.2.1
uvicorn==0.43.0
python-multipart==0.0.22
ffmpeg-python==0.2.0
watchdog==6.0.0